@page "/admin/jobs/run"
@model Gym.Presentation.Pages.Admin.Jobs.RunModel

<h2>Run Subscription Job Manually</h2>

<form method="post">
    <button type="submit">Run Job Now</button>
</form>

<a href="/admin/jobs">Back</a>



@* http://localhost:5171/admin/jobs *@
@* http://localhost:5171/admin/jobs/history *@
@* http://localhost:5171/admin/jobs/run *@